---
layout: default
---
<ul class="posts-list">
  
  {% assign category = page.category | default: page.title %}
  {% for post in site.categories[category] %}
    <li style="list-style: none;">
      <h3 class="link pdb5 subject">
        <a href="{{ site.baseurl }}{{ post.url }}">
          {{ post.title }}
        </a>
        <span class="light-silver mt1 cate_list"><small>{{ post.date | date_to_string }}</small></span>
        </h3>
        <div class="clear"></div>
    </li>
  {% endfor %}
  
</ul>